HVTravelDatabase__ConnectionString=mongodb://ket-noi-database
Cloudinary__CloudName=your-cloudinary-cloud-name
Cloudinary__ApiKey=your-cloudinary-api-key
Cloudinary__ApiSecret=your-cloudinary-api-secret
Cloudinary__UploadPreset=your-unsigned-upload-preset
